In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("nyc_weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,7,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6,T,4,NaN,235
12,01-13-2016,26,4,42,29.94,10,10,0,0,NaN,284
13,01-14-2016,30,12,47,29.95,10,5,T,7,NaN,266
14,01-15-2016,43,31,62,29.82,9,5,T,2,NaN,101
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,Rain,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,Snow,293
18,01-19-2016,22,3,42,30.03,10,11,0,1,NaN,293
19,01-20-2016,32,15,49,30.13,10,6,0,2,NaN,302
20,01-21-2016,31,11,45,30.15,10,6,0,1,NaN,312
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,Snow,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,Snow,327
24,01-25-2016,34,18,54,30.25,10,3,0,2,NaN,286
25,01-26-2016,43,29,56,30.03,10,7,0,2,NaN,244
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,NaN,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,NaN,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,NaN,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,NaN,241

In [3]:
df.head() # it will fetch top 5 rows

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333

In [4]:
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277

In [5]:
df.tail() # it will fetch bottom 5 rows

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,NaN,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,NaN,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,NaN,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,NaN,241

In [6]:
df.tail(7)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
24,01-25-2016,34,18,54,30.25,10,3,0,2,NaN,286
25,01-26-2016,43,29,56,30.03,10,7,0,2,NaN,244
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,NaN,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,NaN,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,NaN,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,NaN,241

In [7]:
df.shape # fetch rows and columns

(31, 11)

In [8]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.903226,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.724639,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,7.000000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [9]:
df.info() # fetch details of dataset, help to find null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          31 non-null     int64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.8+ KB

In [10]:
df.isnull().sum()

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             0
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

In [11]:
df.duplicated().sum()

0

In [12]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333

In [13]:
df["Events"].value_counts() # In particular column, how many values are there

Events
Rain        4
Snow        3
Fog-Snow    2
Name: count, dtype: int64

In [14]:
# Replace Null / Missing values of Events column
df["Events"].mode() # find mode

0    Rain
Name: Events, dtype: object

In [15]:
df["Events"].fillna(value = df["Events"].mode())

0         Rain
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [16]:
df["Events"].fillna(value = df["Events"].mode()[0],inplace = True) # replaced null values by mode()
#df["Events"].fillna(value = "No Event",inplace = True)  # replaced null values by "No Event"

C:\Users\Kaustubh Jadhav\AppData\Local\Temp\ipykernel_19964\504051427.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Events"].fillna(value = df["Events"].mode()[0],inplace = True) # replaced null values by mode()

In [17]:
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,Rain,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,Rain,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,Rain,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,Rain,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,Rain,333
5,01-06-2016,33,4,35,30.50,10,4,0,0,Rain,259
6,01-07-2016,39,11,33,30.28,10,2,0,3,Rain,293
7,01-08-2016,39,29,64,30.20,10,4,0,8,Rain,79
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109

In [18]:
df.isnull().sum()

EST                     0
Temperature             0
DewPoint                0
Humidity                0
Sea Level PressureIn    0
VisibilityMiles         0
WindSpeedMPH            0
PrecipitationIn         0
CloudCover              0
Events                  0
WindDirDegrees          0
dtype: int64

In [20]:
df1 = pd.read_csv("nyc_weather.csv")
df1

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,7,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6,T,4,NaN,235
12,01-13-2016,26,4,42,29.94,10,10,0,0,NaN,284
13,01-14-2016,30,12,47,29.95,10,5,T,7,NaN,266
14,01-15-2016,43,31,62,29.82,9,5,T,2,NaN,101
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,Rain,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,Snow,293
18,01-19-2016,22,3,42,30.03,10,11,0,1,NaN,293
19,01-20-2016,32,15,49,30.13,10,6,0,2,NaN,302
20,01-21-2016,31,11,45,30.15,10,6,0,1,NaN,312
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,Snow,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,Snow,327
24,01-25-2016,34,18,54,30.25,10,3,0,2,NaN,286
25,01-26-2016,43,29,56,30.03,10,7,0,2,NaN,244
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,NaN,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,NaN,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,NaN,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,NaN,241

In [21]:
df1.isnull().sum()

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             0
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

In [22]:
# df1 = df1.fillna(value="No Events")  --> for entire dataset

df1["Events"] = df1["Events"].fillna(value="No Events")  # --> This is with particular column

In [23]:
df1

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,No Events,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,No Events,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,No Events,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,No Events,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,No Events,333
5,01-06-2016,33,4,35,30.50,10,4,0,0,No Events,259
6,01-07-2016,39,11,33,30.28,10,2,0,3,No Events,293
7,01-08-2016,39,29,64,30.20,10,4,0,8,No Events,79
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,7,0,1,No Events,289
11,01-12-2016,35,15,53,29.85,10,6,T,4,No Events,235
12,01-13-2016,26,4,42,29.94,10,10,0,0,No Events,284
13,01-14-2016,30,12,47,29.95,10,5,T,7,No Events,266
14,01-15-2016,43,31,62,29.82,9,5,T,2,No Events,101
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,Rain,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,Snow,293
18,01-19-2016,22,3,42,30.03,10,11,0,1,No Events,293
19,01-20-2016,32,15,49,30.13,10,6,0,2,No Events,302
20,01-21-2016,31,11,45,30.15,10,6,0,1,No Events,312
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,Snow,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,Snow,327
24,01-25-2016,34,18,54,30.25,10,3,0,2,No Events,286
25,01-26-2016,43,29,56,30.03,10,7,0,2,No Events,244
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,No Events,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,No Events,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,No Events,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,No Events,241

In [24]:
df.isnull().sum()

EST                     0
Temperature             0
DewPoint                0
Humidity                0
Sea Level PressureIn    0
VisibilityMiles         0
WindSpeedMPH            0
PrecipitationIn         0
CloudCover              0
Events                  0
WindDirDegrees          0
dtype: int64

In [25]:
df1.isnull().sum()

EST                     0
Temperature             0
DewPoint                0
Humidity                0
Sea Level PressureIn    0
VisibilityMiles         0
WindSpeedMPH            0
PrecipitationIn         0
CloudCover              0
Events                  0
WindDirDegrees          0
dtype: int64

In [26]:
# To fetch single column
df["Temperature"].head()

0    38
1    36
2    40
3    25
4    20
Name: Temperature, dtype: int64

In [27]:
# To fetch multiple columns
df[["Temperature","Humidity","Events"]].head(10)

   Temperature  Humidity Events
0           38        52   Rain
1           36        46   Rain
2           40        47   Rain
3           25        44   Rain
4           20        41   Rain
5           33        35   Rain
6           39        33   Rain
7           39        64   Rain
8           44        77   Rain
9           50        71   Rain

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          31 non-null     int64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                31 non-null     object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.8+ KB

In [29]:
# Fetching multiple columns with index position
df.columns[[1,3,5]]

Index(['Temperature', 'Humidity', 'VisibilityMiles'], dtype='object')

In [30]:
df[df.columns[[1,3,5]]]

    Temperature  Humidity  VisibilityMiles
0            38        52               10
1            36        46               10
2            40        47               10
3            25        44               10
4            20        41               10
5            33        35               10
6            39        33               10
7            39        64               10
8            44        77                9
9            50        71                4
10           33        37               10
11           35        53               10
12           26        42               10
13           30        47               10
14           43        62                9
15           47        70                8
16           36        66                8
17           25        53                9
18           22        42               10
19           32        49               10
20           31        45               10
21           26        41                9
22           26        78                1
23           28        53                8
24           34        54               10
25           43        56               10
26           41        45               10
27           37        51               10
28           36        50               10
29           34        46               10
30           46        52               10

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          31 non-null     int64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                31 non-null     object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.8+ KB

In [32]:
df2 = df.iloc[:,3:8]
df2

,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn
0,52,30.03,10,8,0
1,46,30.02,10,7,0
2,47,29.86,10,8,0
3,44,30.05,10,9,0
4,41,30.57,10,5,0
5,35,30.50,10,4,0
6,33,30.28,10,2,0
7,64,30.20,10,4,0
8,77,30.16,9,8,T
9,71,29.59,4,7,1.8
10,37,29.92,10,7,0
11,53,29.85,10,6,T
12,42,29.94,10,10,0
13,47,29.95,10,5,T
14,62,29.82,9,5,T
15,70,29.52,8,7,0.24
16,66,29.78,8,6,0.05
17,53,29.83,9,12,T
18,42,30.03,10,11,0
19,49,30.13,10,6,0
20,45,30.15,10,6,0
21,41,30.21,9,7,0.01
22,78,29.77,1,16,2.31
23,53,29.92,8,6,T
24,54,30.25,10,3,0
25,56,30.03,10,7,0
26,45,30.03,10,7,T
27,51,29.90,10,5,0
28,50,29.58,10,8,0
29,46,30.01,10,7,0
30,52,29.90,10,5,0

In [33]:
df2.shape

(31, 5)

In [34]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,Rain,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,Rain,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,Rain,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,Rain,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,Rain,333
5,01-06-2016,33,4,35,30.50,10,4,0,0,Rain,259
6,01-07-2016,39,11,33,30.28,10,2,0,3,Rain,293
7,01-08-2016,39,29,64,30.20,10,4,0,8,Rain,79
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,7,0,1,Rain,289
11,01-12-2016,35,15,53,29.85,10,6,T,4,Rain,235
12,01-13-2016,26,4,42,29.94,10,10,0,0,Rain,284
13,01-14-2016,30,12,47,29.95,10,5,T,7,Rain,266
14,01-15-2016,43,31,62,29.82,9,5,T,2,Rain,101
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,Rain,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,Snow,293
18,01-19-2016,22,3,42,30.03,10,11,0,1,Rain,293
19,01-20-2016,32,15,49,30.13,10,6,0,2,Rain,302
20,01-21-2016,31,11,45,30.15,10,6,0,1,Rain,312
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,Snow,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,Snow,327
24,01-25-2016,34,18,54,30.25,10,3,0,2,Rain,286
25,01-26-2016,43,29,56,30.03,10,7,0,2,Rain,244
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,Rain,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,Rain,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,Rain,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,Rain,241

In [35]:
# drop a single column
df.drop(["Events"], axis =1, inplace = True)
# df = df.drop(["Events"], axis =1)

In [36]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,333
5,01-06-2016,33,4,35,30.50,10,4,0,0,259
6,01-07-2016,39,11,33,30.28,10,2,0,3,293
7,01-08-2016,39,29,64,30.20,10,4,0,8,79
8,01-09-2016,44,38,77,30.16,9,8,T,8,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,109
10,01-11-2016,33,8,37,29.92,10,7,0,1,289
11,01-12-2016,35,15,53,29.85,10,6,T,4,235
12,01-13-2016,26,4,42,29.94,10,10,0,0,284
13,01-14-2016,30,12,47,29.95,10,5,T,7,266
14,01-15-2016,43,31,62,29.82,9,5,T,2,101
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,293
18,01-19-2016,22,3,42,30.03,10,11,0,1,293
19,01-20-2016,32,15,49,30.13,10,6,0,2,302
20,01-21-2016,31,11,45,30.15,10,6,0,1,312
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,327
24,01-25-2016,34,18,54,30.25,10,3,0,2,286
25,01-26-2016,43,29,56,30.03,10,7,0,2,244
26,01-27-2016,41,22,45,30.03,10,7,T,3,311
27,01-28-2016,37,20,51,29.90,10,5,0,1,234
28,01-29-2016,36,21,50,29.58,10,8,0,4,298
29,01-30-2016,34,16,46,30.01,10,7,0,0,257
30,01-31-2016,46,28,52,29.90,10,5,0,0,241

In [37]:
df.shape

(31, 10)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          31 non-null     int64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   WindDirDegrees        31 non-null     int64
dtypes: float64(1), int64(7), object(2)
memory usage: 2.6+ KB

In [39]:
# drop a multiple columns
df.drop(["PrecipitationIn","EST"], axis =1, inplace = True)

In [40]:
df.shape

(31, 8)

In [41]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
0,38,23,52,30.03,10,8,5,281
1,36,18,46,30.02,10,7,3,275
2,40,21,47,29.86,10,8,1,277
3,25,9,44,30.05,10,9,3,345
4,20,-3,41,30.57,10,5,0,333
5,33,4,35,30.50,10,4,0,259
6,39,11,33,30.28,10,2,3,293
7,39,29,64,30.20,10,4,8,79
8,44,38,77,30.16,9,8,8,76
9,50,46,71,29.59,4,7,7,109
10,33,8,37,29.92,10,7,1,289
11,35,15,53,29.85,10,6,4,235
12,26,4,42,29.94,10,10,0,284
13,30,12,47,29.95,10,5,7,266
14,43,31,62,29.82,9,5,2,101
15,47,37,70,29.52,8,7,7,340
16,36,23,66,29.78,8,6,6,345
17,25,6,53,29.83,9,12,2,293
18,22,3,42,30.03,10,11,1,293
19,32,15,49,30.13,10,6,2,302
20,31,11,45,30.15,10,6,1,312
21,26,6,41,30.21,9,7,3,34
22,26,21,78,29.77,1,16,8,42
23,28,11,53,29.92,8,6,3,327
24,34,18,54,30.25,10,3,2,286
25,43,29,56,30.03,10,7,2,244
26,41,22,45,30.03,10,7,3,311
27,37,20,51,29.90,10,5,1,234
28,36,21,50,29.58,10,8,4,298
29,34,16,46,30.01,10,7,0,257
30,46,28,52,29.90,10,5,0,241

In [42]:
# to drop a single row
df.drop(30)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
0,38,23,52,30.03,10,8,5,281
1,36,18,46,30.02,10,7,3,275
2,40,21,47,29.86,10,8,1,277
3,25,9,44,30.05,10,9,3,345
4,20,-3,41,30.57,10,5,0,333
5,33,4,35,30.50,10,4,0,259
6,39,11,33,30.28,10,2,3,293
7,39,29,64,30.20,10,4,8,79
8,44,38,77,30.16,9,8,8,76
9,50,46,71,29.59,4,7,7,109
10,33,8,37,29.92,10,7,1,289
11,35,15,53,29.85,10,6,4,235
12,26,4,42,29.94,10,10,0,284
13,30,12,47,29.95,10,5,7,266
14,43,31,62,29.82,9,5,2,101
15,47,37,70,29.52,8,7,7,340
16,36,23,66,29.78,8,6,6,345
17,25,6,53,29.83,9,12,2,293
18,22,3,42,30.03,10,11,1,293
19,32,15,49,30.13,10,6,2,302
20,31,11,45,30.15,10,6,1,312
21,26,6,41,30.21,9,7,3,34
22,26,21,78,29.77,1,16,8,42
23,28,11,53,29.92,8,6,3,327
24,34,18,54,30.25,10,3,2,286
25,43,29,56,30.03,10,7,2,244
26,41,22,45,30.03,10,7,3,311
27,37,20,51,29.90,10,5,1,234
28,36,21,50,29.58,10,8,4,298
29,34,16,46,30.01,10,7,0,257

In [43]:
df.drop(29, axis = 0)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
0,38,23,52,30.03,10,8,5,281
1,36,18,46,30.02,10,7,3,275
2,40,21,47,29.86,10,8,1,277
3,25,9,44,30.05,10,9,3,345
4,20,-3,41,30.57,10,5,0,333
5,33,4,35,30.50,10,4,0,259
6,39,11,33,30.28,10,2,3,293
7,39,29,64,30.20,10,4,8,79
8,44,38,77,30.16,9,8,8,76
9,50,46,71,29.59,4,7,7,109
10,33,8,37,29.92,10,7,1,289
11,35,15,53,29.85,10,6,4,235
12,26,4,42,29.94,10,10,0,284
13,30,12,47,29.95,10,5,7,266
14,43,31,62,29.82,9,5,2,101
15,47,37,70,29.52,8,7,7,340
16,36,23,66,29.78,8,6,6,345
17,25,6,53,29.83,9,12,2,293
18,22,3,42,30.03,10,11,1,293
19,32,15,49,30.13,10,6,2,302
20,31,11,45,30.15,10,6,1,312
21,26,6,41,30.21,9,7,3,34
22,26,21,78,29.77,1,16,8,42
23,28,11,53,29.92,8,6,3,327
24,34,18,54,30.25,10,3,2,286
25,43,29,56,30.03,10,7,2,244
26,41,22,45,30.03,10,7,3,311
27,37,20,51,29.90,10,5,1,234
28,36,21,50,29.58,10,8,4,298
30,46,28,52,29.90,10,5,0,241

In [44]:
# to drop a multiple rows
df.drop(index = [2,4,6,8,10])

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
0,38,23,52,30.03,10,8,5,281
1,36,18,46,30.02,10,7,3,275
3,25,9,44,30.05,10,9,3,345
5,33,4,35,30.50,10,4,0,259
7,39,29,64,30.20,10,4,8,79
9,50,46,71,29.59,4,7,7,109
11,35,15,53,29.85,10,6,4,235
12,26,4,42,29.94,10,10,0,284
13,30,12,47,29.95,10,5,7,266
14,43,31,62,29.82,9,5,2,101
15,47,37,70,29.52,8,7,7,340
16,36,23,66,29.78,8,6,6,345
17,25,6,53,29.83,9,12,2,293
18,22,3,42,30.03,10,11,1,293
19,32,15,49,30.13,10,6,2,302
20,31,11,45,30.15,10,6,1,312
21,26,6,41,30.21,9,7,3,34
22,26,21,78,29.77,1,16,8,42
23,28,11,53,29.92,8,6,3,327
24,34,18,54,30.25,10,3,2,286
25,43,29,56,30.03,10,7,2,244
26,41,22,45,30.03,10,7,3,311
27,37,20,51,29.90,10,5,1,234
28,36,21,50,29.58,10,8,4,298
29,34,16,46,30.01,10,7,0,257
30,46,28,52,29.90,10,5,0,241

In [45]:
df3 = pd.read_csv("nyc_weather.csv")
df3.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333

In [46]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   31 non-null     object
 1   Temperature           31 non-null     int64
 2   DewPoint              31 non-null     int64
 3   Humidity              31 non-null     int64
 4   Sea Level PressureIn  31 non-null     float64
 5   VisibilityMiles       31 non-null     int64
 6   WindSpeedMPH          31 non-null     int64
 7   PrecipitationIn       31 non-null     object
 8   CloudCover            31 non-null     int64
 9   Events                9 non-null      object
 10  WindDirDegrees        31 non-null     int64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.8+ KB

In [47]:
df3.dropna()   # dropping all null values at once of dataset

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,Rain,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,Snow,293
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,Snow,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,Snow,327
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311

In [48]:
df3.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5,0,0,NaN,333

In [49]:
df3.dropna(subset = ["Events"],inplace = True)

In [50]:
df3

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
8,01-09-2016,44,38,77,30.16,9,8,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,7,1.8,7,Rain,109
15,01-16-2016,47,37,70,29.52,8,7,0.24,7,Rain,340
16,01-17-2016,36,23,66,29.78,8,6,0.05,6,Fog-Snow,345
17,01-18-2016,25,6,53,29.83,9,12,T,2,Snow,293
21,01-22-2016,26,6,41,30.21,9,7,0.01,3,Snow,34
22,01-23-2016,26,21,78,29.77,1,16,2.31,8,Fog-Snow,42
23,01-24-2016,28,11,53,29.92,8,6,T,3,Snow,327
26,01-27-2016,41,22,45,30.03,10,7,T,3,Rain,311

In [51]:
len(df3)

9

In [52]:
#pd.read_csv("path")   --> to read data
#To store your output

df3.to_csv("Output.csv")